
    <footer class="footer-basic footer-transparent" >
        <div class="social"><a href="https://www.instagram.com/teamrevature/" target="_blank"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="https://twitter.com/WeAreRevature"><i class="icon ion-social-twitter"></i></a><a href="https://www.facebook.com/revature"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="https://revature.com" target="_blank">Home</a></li>
            <li class="list-inline-item"><a href="https://revature.com/hello-world/" target="_blank">Services</a></li>
            <li class="list-inline-item"><a href="https://revature.com/our-story/" target="_blank">About</a></li>
            <li class="list-inline-item"><a href="https://revature.com/terms-and-conditions/" target="_blank">Terms</a></li>
            <li class="list-inline-item"><a href="https://revature.com/privacy-policy/" target="_blank">Privacy Policy</a></li>
        </ul>
        <p class="copyright">© 2021 All rights reserved</p>
    </footer>

