body {
    font-family: "Lato", sans-serif;
  }
  
  .btn-side-group {
    width: 230px;
    position: fixed;
    z-index: 1;
    background: white;
    top: 600px;
    left: 0px;
    border-radius: 1em;
    overflow-x: hidden;
    padding: 8px 0;
  }

  @media screen and (max-height: 450px) {
    .btn-side-group {padding-top: 15px;}
    .btn-side-group a {font-size: 18px;}
  }

ul {
    padding: 0;
    list-style-type: none;
}

li {
    font-size: 25px;
    width: 9em;
    height: 2em;
    color: black;
    border-left: 0.08em solid;
    position: relative;
    margin-top: 0.8em;
    cursor: pointer;
}

a {
    color: black;
}

li::before,
li::after
 {
    content: '';
    position: absolute;
    width: inherit;
    border-left: inherit;
    z-index: -1;
}

li::before {
    height: 80%;
    top: 10%;
    left: calc(-0.15em - 0.08em * 2);
    filter: brightness(0.8);
}

li::after {
    height: 60%;
    top: 20%;
    left: calc(-0.15em * 2 - 0.08em * 3);
    filter: brightness(0.6);
}

li span {
    position: relative;
    height: 120%;
    top: -10%;
    box-sizing: border-box;
    border: 0.08em solid;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s;
}

li:hover span {
    transform: translateX(0.15em);
}