
<div class="main-div">
	<br><br>
	<h3>{{batchInfoAverages.batch.name}}</h3>
	<h4>{{batchInfoAverages.batch.description}}</h4>
	<br><br>
	<h5>Instructor name: {{batchInfoAverages.batch.instructor.name}}</h5>
	<h5>Instructor email: {{batchInfoAverages.batch.instructor.email}}</h5>
	<br><br><br><br><br><br>
	<div class="chart-wrapper">
		<canvas baseChart
		[datasets]="barChartDataQuizzes"
		[labels]="barChartLabelsQuizzes"
		[options]="barChartOptionsQuizzes"
		[plugins]="barChartPluginsQuizzes"
		[legend]="barChartLegendQuizzes"
		[chartType]="barChartTypeQuizzes">
		</canvas>
	</div>
	<br><br>
	<div class="chart-wrapper">
		<canvas baseChart
		[datasets]="barChartDataTopics"
		[labels]="barChartLabelsTopics"
		[options]="barChartOptionsTopics"
		[plugins]="barChartPluginsTopics"
		[legend]="barChartLegendTopics"
		[chartType]="barChartTypeTopics">
		</canvas>
	</div>
</div>
					