<app-batch-landing></app-batch-landing>
<app-expandtab (click)="openSideBar()"></app-expandtab>
<app-sidenav *ngIf="tabOpened"></app-sidenav>
<app-closetab *ngIf="tabOpened" (click)="closeSideBar()"></app-closetab>
<div id="intro" class="view">
        
    <div class="mask rgba-black-strong">

      <div class="container align-items-center">
            <br><br>
           	<router-outlet></router-outlet>
            <br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br>
      </div>

    </div>

</div>


