<div id="intro" class="view">
  <div class="mask rgba-black-strong">
    <div
      class="container-fluid d-flex align-items-center justify-content-center h-100"
    >
      <div class="row d-flex justify-content-center text-center">
        <div class="col-md-10">
          <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

          <div class="container">
            <h1 style="color: white">
              ({{ topic.tech.name }}) {{ topic.name }}
            </h1>
            <p style="color: white">
              My competency:
              <input
                type="range"
                min="0"
                max="5"
                [(ngModel)]="competency"
                (ngModelChange)="updateCompetency()"
                [ngModelOptions]="{ updateOn: 'blur' }"
              />
            </p>
            <ul>
              <li
                *ngFor="
                  let n of notes;
                  let index = index;
                  trackBy: trackByIndex
                "
              >
                <div>
                  <h3>{{ n.employee.name }}'s Notes</h3>
                  <div *ngIf="n.employee.id != userId">{{ n.content }}</div>
                  <textarea
                    *ngIf="n.employee.id == userId"
                    [(ngModel)]="notes[index].content"
                    style="width: 100%; height: 20em"
                  ></textarea
                  ><br />
                  <button
                    *ngIf="n.employee.id == userId"
                    (click)="updateNotes(notes[index])"
                  >
                    Save
                  </button>
                </div>
              </li>
            </ul>
          </div>

          <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
      </div>
    </div>
  </div>
</div>
