<div class="container">
    <h1>{{topic.tag.name}}: {{topic.name}}}</h1>
    <p>My competency: 
        <input type="number" [(ngModel)]="competency" (ngModelChange)="updateCompetency()"
        [ngModelOptions]="{updateOn: 'blur'}" />
    </p>
    <ul>
        <li *ngFor="let n of notes">
            <div [class.starred]="starredNotesId == n.id">
                <h3>{{n.employee.name}}'s Notes - {{n.timesStarred}} times starred</h3>
                <div class="input" role="textbox" [class.disabled]="n.employee.id != userId" >{{n.content}}</div>
            </div>
        </li>
    </ul>
</div>