<app-landing></app-landing>
<app-expandtab (click)="openSideBar()"></app-expandtab>
<app-sidenav *ngIf="tabOpened"></app-sidenav>
<app-closetab *ngIf="tabOpened" (click)="closeSideBar()"></app-closetab>

        <div id="intro" class="view">
        
            <div class="mask rgba-black-strong">
        
              <div class="container-fluid d-flex align-items-center justify-content-center h-100">
        
                <div class="row d-flex justify-content-center text-center">
        
                  <div>
        
                    <br><br>
                    <router-outlet></router-outlet>
                    <br>
        
                  </div>
        
                </div>
        
              </div>
        
            </div>
        
        </div>



