#basicExampleNav {
    width: 60%;
    display: flex;
    justify-content:space-between;
    width: 20rem;
    overflow: auto;
    white-space: nowrap;
    margin: 0px auto;
}

/* nav{
  background-color: white;
} */

.nav-link{
  color: black;
}



