<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">

    <div class="container">

      <!-- Navbar brand -->
      <a class="navbar-brand" href="https://revature.com" target="_blank">Revature</a>

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">
        <div style="float: left;">
            <!-- Links -->
            <ul class="navbar-nav mr-auto smooth-scroll" style="float: left;">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/associate" *ngIf="isLoggedIn && !isTrainer">Associate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/trainers" *ngIf="!isTrainer">Trainer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/batch" *ngIf="isAssigned">Batch</a>
                </li>

            </ul>
            <!-- Links -->
        </div>
        <div style='float: right;'>
            <button routerLink="/login" class="btn btn-outline-light btn-round" *ngIf="!isLoggedIn">Log In</button>
            <button class="btn btn-outline-light btn-round" *ngIf="isLoggedIn">Log Out</button>
        </div>



      </div>
    </div>

  </nav>

