<div class="cal">
  <button class="btn btn-lg btn-outline-dark" (click)="toggleWeekends()">
    toggle weekends
  </button>
  <a
    class="btn btn-lg btn-outline-dark"
    data-toggle="modal"
    data-target="#exampleModalCenter"
    (click)="loadTechs()"
    >Add Topic Event</a
  >
  <a
    class="btn btn-lg btn-outline-dark"
    data-toggle="modal"
    data-target="#quizModalCenter"
    (click)="loadQuizzes()"
    >Add Quiz Event</a
  >
  <a
    class="btn btn-lg btn-outline-dark"
    data-toggle="modal"
    data-target="#removeModalCenter"
    >Remove Topic Event</a
  >
  <br /><br />
  <full-calendar id="calendar" [options]="calendarOptions"></full-calendar>
  <br /><br />
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Calendar Editor</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)="addTopic($event)">
          <div class="form-group">
            <label class="control-label">Adding Topic to Curriculum</label>
            <h3>{{ day }}</h3>
            <br />
            <div>
              <select
                (change)="loadTopics($event.target)"
                class="form-select"
                aria-label="Default select example"
              >
                <option selected>Choose Tech</option>
                <option *ngFor="let tech of techList" value="{{ tech.id }}">
                  {{ tech.name }}
                </option>
              </select>
              <select class="form-select" aria-label="Default select example">
                <option selected>Choose Topic</option>
                <option *ngFor="let topic of topicList" value="{{ topic.id }}">
                  {{ topic.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="removeModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Calendar Editor</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label">Remove Topic</label>
          <h3>{{ day }}</h3>
          <div>
            <form [formGroup]="formRemoveData">
              <input
                type="text"
                hidden
                class="form-control"
                id="eventInput"
                name="topicId"
                value="{{ topicIdClick }}"
                formControlName="topicId"
              />
              <input
                type="text"
                class="form-control"
                id="eventInput"
                name="topicName"
                placeholder="{{ topicNameClick }}"
                value="{{ topicNameClick }}"
                formControlName="topicName"
              />
              <input
                type="text"
                hidden
                class="form-control"
                id="eventInput"
                name="topicDate"
                value="{{ topicDateClick }}"
                formControlName="topicDate"
              />
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                  (click)="removeTopic()"
                >
                  Save changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="quizModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="quizModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="quizModalLongTitle">Calendar Editor</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)="addQuiz($event)">
          <div class="form-group">
            <label class="control-label">Adding Quiz to Curriculum</label>
            <h3>{{ day }}</h3>
            <br />
            <div>
              <select class="form-select" aria-label="Default select example">
                <option selected>Choose Quiz</option>
                <option *ngFor="let quiz of quizList" value="{{ quiz.id }}">
                  {{ quiz.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
